<% layout("/layouts/boilerplate") -%>

    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h2>Edit Listing : </h2>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input required type="text" name="Listing[title]" class="form-control" value="<%= listing.title %>">
        <div class="valid-feedback">Title Looks Cool</div>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <br>
        <textarea required class="form-control"name="Listing[desc]"  id="desc" cols="30" rows="2"><%= listing.desc %></textarea>
        <div class="invalid-feedback">Please Enter a Valid Short Description</div>
        </div>
        <div>
            <p>Original Listing Image </p>
            <img src="<%= originalUrl %>" alt="">
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Upload New Image </label>
            <br><br>
            <input class="form-control"type="file" name="Listing[image]">
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
        <input   required class="form-control"type="number" name="Listing[price]" value="<%= listing.price %>" ><div class="invalid-feedback">Please Enter a Valid Price</div><br><br></div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label" for="location">Location</label>
        <input  required class="form-control"type="text" name="Listing[location]" value="<%= listing.location %>" >
        <div class="invalid-feedback">Please Enter a Valid Location</div></div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
        <input required class="form-control"type="text" name="Listing[country]" value="<%= listing.country %>"><div class="invalid-feedback">Please Enter a Valid Country Name</div></div></div>
        <button class="btn btn-dark add-btn mt-3">Submit</button>
    </form>
</div>
</div>
<script src="/js/script.js"></script>
