<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>All Listings Here!</h1>
    <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form>
    <ul>
        <% for(let listing of alllistings){ %>
            <a href="/listings/<%= listing._id%>">
            <li><%= listing.title %></li></a> 
            <li><%= listing.desc %></li>
            <li><img src="<%= listing.image.url %>" alt=""></li>
            <li><%= listing.price %></li>
            <li><%= listing.location %></li>
            <li><%= listing.country %></li> 
            <form action="/listings/<%= listing._id%>/edit" method="get">
                <button>Edit Listing</button>
            </form>
        <% } %>
    </ul>
</body>
</html>
